extends layout
block content
    h1 #{title}: 
        a(href=book.url) #{book.title}

    p #[strong Title:]  #{book.title}

    p #[strong Author:]  
        a(href=book.author.url) #{book.author.first_name}, #{book.author.family_name}

    p #[strong Isbn:]  #{book.isbn}
    
    each val in book.genre
        p #[strong Genre:] 
            a(href=val.url) #{val.name}

    br
    br
    h1 Copies of 
        a(href=book.url) #{book.title} 
    if bookinstances.length
        each copy in bookinstances
            div(style="margin-left")
            p #[strong Book:] #{copy.book.title}
            p #[strong Status:] 
                if copy.status==="maintainance"
                    p.text-warning #{copy.status}
                else if copy.status==="available"
                    p.text-success #{copy.status}
                else
                    p.text-danger #{copy.status}
            if copy.status!="available"
                p #[strong Due-Back:] #{copy.due_back}
            p #[strong Imprint:] #{copy.imprint}
            
            p #[strong Id:] 
                a(href=copy.url) #{copy.id}
    else
        p Do you really want to delete this book?
        form(method="POST" action="")   
            div.form-group
                input#deletebook.form-control(type="hidden" value= book.id name="id" required=true)
            br

            br
            
            button.btn.btn-primary(type="submit") Delete
